/* 
##################################
        GENERAL
##################################
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 100px 250px 250px 100px;
    color: white;
    gap: 2px;
    margin: 2px;
}


header {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    background-color: blue;
}

aside {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background-color: green;
}

main {
    grid-column: 2 / 5;
    grid-row: 2 / 4;
    background-color: red;
}

footer {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    background-color: purple;
}